.cards-container {
  width: 100%;
}

.card {
  background-color: #eee;
  border: 2px solid #616161;
  border-radius: 5px;
  box-shadow: 3px 5px #bbb;
  margin: 1rem;
  max-width: 300px;
  padding: 1rem;
  text-align: center;
  width: 50%;
}

.card > h2 {
  color: #444;
  font-size: 32px;
  text-shadow: 0 0 4px green;
}
